<!DOCTYPE html>
<html>
  <head>
    <title>Artisty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <meta property="og:title" content="Project Title" />
     <meta property='og:image' content="<%= image_url('../../assets/images/artisty.png') %>"/>
     <meta property="og:description"
       content="Artisty is a full stack Etsy clone that displays various artworks for sale. Users are able to search for items, either via search bar or category listing, and place them in their cart for purchase."
     />
     <meta property="og:url"
       content="http://artistyy.herokuapp.com/"
     />

    <%= favicon_link_tag asset_path('favicon-32x32.png') %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
